*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px ;
    background-color: white;
}
body{
    max-width: 1200px;
    margin: auto;
}
#pag1{
    
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
}
img{
    width: 800px;
    padding-top: 50px;
    margin-left: 18%;
}
#txt1{
    display: inline;
    font-size: 30px;
    text-align: center;
    margin-left: 140px;
    color: white;
}
.titulo{
    color: #f86cd5;
    display: inline;
}
input[type = "submit"]{
    text-align: center;
    padding: 20px;
    background-color: #f86cd5;
    color: white;
    font-size: 25px;
    margin-left: 43%;
    text-shadow: 2px 2px black;
    border-radius: 8px;    
    margin-top: 15px;
    margin-bottom: 15px;
}
#pag2{
    background-image: url(../img/bg2.png);
    color: white;
}
.t1 {
    padding: 50px;
    margin-left: 5%;
    font-size: 30px;
    width: 200px;
}
.conteiner{
    width: 500px;
    margin-left: 8%;
    font-size: 20px;
}
.conteiner p{
    padding: 10px;
}
.conteiner2{
    width: 350px;
    margin-left: 8%;
    font-size: 20px;
}
.conteiner2 p{
    padding: 10px;
}
